<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MaxVision_Customerlinks>
            <version>0.1.0</version>
        </MaxVision_Customerlinks>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <account_navigation>MaxVision_Customerlinks_Block_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <maxvision_customerlinks>
                    <file>maxvision/customerlinks.xml</file>
                </maxvision_customerlinks>
            </updates>
        </layout>
    </frontend>
</config>
